.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ItemName {
  text-align: left;
}

.ItemCardImg {
  height: auto;
  width: 50%;
  margin: 0 auto;
  display: block;
}

.carousel .one {
    background: url("https://source.unsplash.com/HfgMyrPrLxI/");
    background-size: cover;
    -moz-background-size: cover;
    height: 400px;
}
.carousel .two {
    background: url("https://source.unsplash.com/OlGovwWYt8M/");
    background-size: cover;
    -moz-background-size: cover;
    height: 400px;
    background-position: center;
}
.carousel .three {
    background: url("https://source.unsplash.com/7zaanYdzRnc/");
    background-size: cover;
    -moz-background-size: cover;
    height: 400px;
    background-position: center;
}
.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

.featurette-image {
  height: 150px;
}

.featurette {
  padding-left: 30px;
  padding-right: 30px;
}

.featurette h2 {
  margin-top: 1.5rem;
}